html, body 
    color: #0E3D66
    background-image: url("back.png")

.heading1 
    font-family: 'Kufam', cursive
    font-weight: bold
    color: #F94144

.heading2 
    font-family: 'Kufam', cursive
    font-weight: bold
    color: #F3722C

.button
    font-weight: bold



